/*obsahuje styl pro systemove zpravy, dialogy a take formulare a tlacitka*/

#comment-confirm-delete {
  text-align: center;
  padding: 1em;
}

/*TLACITKA FORMULARU*/
#edit-actions, #edit-actions--2, .form-actions {
  text-align: center;

  /*tlacitka jako hezci tlacitka, odkazy taky jako hezci tlacitka*/
  input, a[id^="edit"] {
    min-height: 1em;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;

    /*pouzitelnost - zabrani neumyslnemu klikani na spatne tlacitko*/
    margin-right: 20px;

    /*balanc a destylizace input button stylu*/
    padding: 0.2em 0 0.2em 1.3em;
    border: none;

    /*linkizace textu*/
    color: $linkColor;
    font-size: $buttonFontSize;

    /*zmeni kurzor na pointer*/
    cursor: pointer;
  }
  input:hover, a[id^="edit"]:hover {
    color: $linkColorHover;
  }
}

/*tlacitko upravit / ulozit / vlozit / OK / fajfka*/
input[id^="edit-ajax-comments"], input[id^="edit-submit"] {
  background-image: url("../img/commentIcons/ok_h60.png");
}

/*tlacitko smazat / zrusit / cerveny X*/
input[id^="cancel-ajax-comments"], input[id^="edit-cancel"], a[id^="edit-cancel"] {
  background-image: url("../img/commentIcons/cancel_h60.png");
}