@media only screen and (min-width: 1330px) {
  li.menu-1191, li.menu-1182 {
    background: url("../img/menuicons/domu.png") 5% no-repeat;
  }

  li.menu-813, li.menu-1183 {
    background: url("../img/menuicons/kniha.png") 5% no-repeat;
  }

  li.menu-795, li.menu-1185 {
    background: url("../img/menuicons/strom.png") 5% no-repeat;
  }

  li.menu-600, li.menu-1196 {
    background: url("../img/menuicons/bublina.png") 5% no-repeat;
  }

  li.menu-601, li.menu-1197 {
    background: url("../img/menuicons/postava.png") 5% no-repeat;
  }

  li.menu-602, li.menu-1198 {
    background: url("../img/menuicons/otaznik.png") 5% no-repeat;
  }
}