$headLinkColor: rgba(0, 0, 0, 1);
$normalfont: Calibri, Candara, Arial, sans-serif;
$headingFont: Helvetica, Arial, sans-serif;
$BoldHeaderFont: 'PT Sans', sans-serif;
$headerBoxBG: rgba(255, 255, 255, 0.4);
$BrightLightText: rgba(255, 255, 255, 1.0);
$DarkLightText: rgba(255, 255, 255, 0.8);
$darkText: rgba(0, 0, 0, 1.0);
$sloganSeparatorBGC: rgba(0, 0, 0, 1.0);
$sloganSeparatorTC: rgba(255, 255, 255, 1.0);
$highlightColor: rgba(195, 0, 227, 0.9);

$linkColor: rgba(255, 255, 255, 0.8);
$linkColorHover: rgba(255, 255, 255, 1);
$linkColorActive: rgba(255, 255, 255, 1.0);
$linkColorActiveBG: rgba(111, 111, 111, 0.7);
$linkColorVisited: $linkColor;
//rgba(200, 200, 200, 1.0);

$helpMenuColor: #bda1b3;
$menuBG0: rgba(174, 155, 174, 1.0);
$menuBG1: rgba(190, 151, 191, 1.0);
$menuBG2: rgba(201, 170, 202, 1.0);
$menuBG3: rgba(209, 183, 210, 1.0);
$menuBG4: rgba(216, 203, 217, 1.0);

$commentsBG1: rgba(22, 22, 22, 0.1);
$commentsBG2: rgba(190, 151, 191, 1.0);
$commentsNewBG: rgba(195, 0, 227, 0.9);

$messageBG1: $commentsBG1;
$messageBG2: $commentsBG2;
$messageNewBG: $commentsNewBG;

$secMenuBG1: rgba(232, 108, 146, 1.0);
$menuFontColor: rgba(25, 11, 93, 1.0);
$contentBGColor: rgba(255, 255, 255, 0.2);
$H1Color: $darkText;
$H2Color: $BrightLightText;
$H2DarkColor: $darkText;
$NormalFontSize: 19px;
$UserBoxFontSize: 17px;
$buttonFontSize: $NormalFontSize;